body {
  background: #fff;
}

.site-layout-content {
  background: #fff;
  min-height: 280px;
}

img {
  max-width: 100%;
  height: auto;
}

.ant-layout-header {
  height: 64px;
  padding: 10px 40px;
  color: rgba(0, 0, 0, 0.88);
  line-height: 64px;
  background: #fff;
}

.custom-anchor .ant-anchor-link-title {
  font-size: 18px;
}

.custom-anchor .ant-anchor-link-title:hover {
  font-size: 20px;
}

.header .ant-anchor {
  display: flex;
}

.mobileVisible {
  display: none;
}

.mobileHidden {
  display: block;
}

@media only screen and (max-width: 991px) {
  .pricingBlock .ant-row > div:nth-child(2) .ant-list-item {
    transform: scale(1.14);
  }
}

@media only screen and (max-width: 767px) {
  .pricingBlock .ant-row > div:nth-child(2) .ant-list-item {
    transform: scale(1);
  }

  .mobileVisible {
    display: block;
  }

  .mobileHidden {
    display: none;
  }
}

p {
  font-size: 16px;
  line-height: 1.6;
}

.container-fluid {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}

/* title holder */
.titleHolder {
  text-align: center;
  position: relative;
  padding: 0 0 20px;
  margin: 0 0 40px;
}

.titleHolder:after {
  transform: translateX(-50%);
  content: "";
  background: #1890ff;
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 3px;
  width: 50px;
}

.titleHolder h2 {
  font-size: 28px;
  margin: 0;
}

/* about */
.aboutBlock .contentHolder {
  text-align: center;
  margin: 0 0 70px;
}

.aboutBlock .icon {
  font-size: 16px;
  color: #1890ff;
  margin: 0 0 10px;
}

.aboutBlock .content {
  text-align: center;
}

.changeSize img {
  width: 500px;
  height: 50px;
  object-fit: contain;
}
